<app-navbar></app-navbar>
<div>
    <div id='header'>
        <div id='title' class='mat-headline'>
            <p style='margin-top: 0;'>
                #HowsMyFlattening
            </p>
        </div>
    </div>
    <div id='which-curve'>
        <div id='which-curve-text'>
            <p class='mat-headline'>
                Which Curve Will Ontario Follow?
            </p>
            <p>
                Once critical care (ICU) beds run out, mortality jumps from 1 to 5%
            </p>
            <p>
                This graph tracks estimated ICU bed needs (5% of positive tests, 8d length of stay) in Ontario relative to different levels of ICU surge capacity across the province.
            </p>
            <p>
                The red flashing dot is where we stand today. We can either follow Italy's or South Korea's course (link to story page). Decisions today will have a 1-2 week lag.
            </p>
            <p>
                The time to #FlattenTheCurve is now.
            </p>
        </div>
        <div style='width: 10px'></div>
        <div id='which-curve-graph'>

        </div>
    </div>
    <p id='we-are' class='mat-display-1'>
        We are physicians, medical students, computational health researchers, designers and epidemiologists rapidly filtering and presenting emergent COVID-19 data to help Ontario #FlattenTheCurve.
    </p>
    <p id='we-are' class='mat-display-1'>
        We connect experts and present data in an easy to digest, actionable way to help Ontario's public leaders and individuals act decisively as evidence grows and time ticks by.
    </p>
</div>